openapi: 3.0.3
info:
  title: AgroDataCube API v2
  version: '2.1'
  description: 'Faithful OpenAPI 3.0 conversion of the public AgroDataCube Postman collection. AgroDataCube
    provides open and derived data for agri-food applications over the Netherlands, returning GeoJSON
    for vector resources and GeoTIFF for raster (_image) resources. Access requires a free token supplied
    via the ''token'' HTTP header. Source: Wageningen Environmental Research (WUR).'
  license:
    name: CC BY-NC-SA 4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/
  contact:
    name: AgroDataCube
    url: https://agrodatacube.wur.nl/
servers:
- url: https://agrodatacube.wur.nl/api/v2/rest
security:
- tokenHeader: []
tags:
- name: Altitude
- name: Raster
- name: Retrieve
- name: KPI
- name: Return
paths:
  /ahn:
    get:
      summary: Altitude zonal statistics for supplied geometry.
      description: Altitude zonal statistics for supplied geometry.
      operationId: get_ahn
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Altitude
      parameters:
      - name: geometry
        in: query
        required: false
        schema:
          type: string
        example: POLYGON((219478 481588.256000001,219478 497638.432,237339.072000001 497638.432,237339.072000001
          481588.256000001,219478 481588.256000001))
      - name: epsg
        in: query
        required: false
        schema:
          type: integer
        example: '28992'
  /ahn_image:
    get:
      summary: Raster data geotiff for AHN (ahn_image)
      description: Raster data geotiff for AHN (ahn_image)
      operationId: get_ahn_image
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Raster
      parameters:
      - name: geometry
        in: query
        required: false
        schema:
          type: string
        example: POLYGON((219478 481588.256000001,219478 497638.432,237339.072000001 497638.432,237339.072000001
          481588.256000001,219478 481588.256000001))
      - name: epsg
        in: query
        required: false
        schema:
          type: integer
        example: '28992'
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
  /codes/category:
    get:
      summary: Retrieve detailed crop category information
      description: Retrieve detailed crop category information
      operationId: get_codes_category
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
        example: The requested category
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /codes/cropcodes:
    get:
      summary: Retrieve a list of all possible cropcodes.
      description: Retrieve a list of all possible cropcodes.
      operationId: get_codes_cropcodes
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /codes/cropcodes/{cropcode}:
    get:
      summary: Retrieve details for a specific cropcode.
      description: Retrieve details for a specific cropcode.
      operationId: get_codes_cropcodes_cropcode
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: cropcode
        in: path
        required: true
        schema:
          type: string
        description: Path parameter cropcode.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /codes/soilcodes:
    get:
      summary: Retrieve a list of all possible soilcodes.
      description: Retrieve a list of all possible soilcodes.
      operationId: get_codes_soilcodes
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /codes/soilcodes/{soilcode}:
    get:
      summary: Retrieve details for a specific soilcode.
      description: Retrieve details for a specific soilcode.
      operationId: get_codes_soilcodes_soilcode
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: soilcode
        in: path
        required: true
        schema:
          type: string
        description: Path parameter soilcode.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /datapackage/kpi/croprotation:
    get:
      summary: KPI - Croprotation
      description: KPI - Croprotation
      operationId: get_datapackage_kpi_croprotation
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - KPI
      parameters:
      - name: fieldids
        in: query
        required: false
        schema:
          type: string
  /datapackage/kpi/greenness:
    get:
      summary: KPI - Greenness
      description: KPI - Greenness
      operationId: get_datapackage_kpi_greenness
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - KPI
      parameters:
      - name: fieldids
        in: query
        required: false
        schema:
          type: string
  /fields:
    get:
      summary: Retrieve the geometry and crop information of the intersections of the supplied geometry
        and the fields.
      description: Retrieve the geometry and crop information of the intersections of the supplied geometry
        and the fields.
      operationId: get_fields
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: geometry
        in: query
        required: false
        schema:
          type: string
        example: POLYGON((219478 481588.256000001,219478 497638.432,237339.072000001 497638.432,237339.072000001
          481588.256000001,219478 481588.256000001))
      - name: fieldid
        in: query
        required: false
        schema:
          type: integer
        example: '9403114'
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
      - name: year
        in: query
        required: false
        schema:
          type: string
      - name: cropcode
        in: query
        required: false
        schema:
          type: integer
        example: '265'
      - name: cropname
        in: query
        required: false
        schema:
          type: string
      - name: epsg
        in: query
        required: false
        schema:
          type: integer
        example: '28992'
      - name: noclip
        in: query
        required: false
        schema:
          type: string
      - name: result
        in: query
        required: false
        schema:
          type: string
  /fields/{fieldid}:
    get:
      summary: Retrieve the geometry and crop information for a specific crop field.
      description: Retrieve the geometry and crop information for a specific crop field.
      operationId: get_fields_fieldid
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /fields/{fieldid}/ahn:
    get:
      summary: Retrieve AHN altitude zonal statistics (in cm) for a specific field.
      description: Retrieve AHN altitude zonal statistics (in cm) for a specific field.
      operationId: get_fields_fieldid_ahn
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /fields/{fieldid}/ahn_image:
    get:
      summary: Raster data geotiff for AHN (ahn_image)
      description: Raster data geotiff for AHN (ahn_image)
      operationId: get_fields_fieldid_ahn_image
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Raster
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
  /fields/{fieldid}/bouwland_markers:
    get:
      summary: Retrieve arable land markers for a specific crop  field
      description: Retrieve arable land markers for a specific crop  field
      operationId: get_fields_fieldid_bouwland_markers
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /fields/{fieldid}/crophistory:
    get:
      summary: Retrieve the crop history for a parcel, based on its geometry
      description: Retrieve the crop history for a parcel, based on its geometry
      operationId: get_fields_fieldid_crophistory
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /fields/{fieldid}/croprotationindex:
    get:
      summary: Retrieve the crop rotation index for a field
      description: Retrieve the crop rotation index for a field
      operationId: get_fields_fieldid_croprotationindex
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /fields/{fieldid}/grasland_markers:
    get:
      summary: Retrieve graslandmarkers for a specific crop field
      description: Retrieve graslandmarkers for a specific crop field
      operationId: get_fields_fieldid_grasland_markers
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
  /fields/{fieldid}/meteostations:
    get:
      summary: Retrieve a list of the nearest meteostations (max. 5) to a specific field, ranked by distance.
      description: Retrieve a list of the nearest meteostations (max. 5) to a specific field, ranked by
        distance.
      operationId: get_fields_fieldid_meteostations
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /fields/{fieldid}/ndvi:
    get:
      summary: Retrieve the available NDVI (Normalized Difference Vegetation Index) values for a specific
        field and time period.
      description: Retrieve the available NDVI (Normalized Difference Vegetation Index) values for a specific
        field and time period.
      operationId: get_fields_fieldid_ndvi
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /fields/{fieldid}/ndvi_image:
    get:
      summary: Raster data geotiff for NDVI (ndvi_image)
      description: Raster data geotiff for NDVI (ndvi_image)
      operationId: get_fields_fieldid_ndvi_image
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Raster
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: date
        in: query
        required: false
        schema:
          type: string
        example: '20191117'
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
  /fields/{fieldid}/soilparams:
    get:
      summary: Retrieve the spatial intersections of a field with the soil physical parameters geometries
        (BOFEK 2012)
      description: Retrieve the spatial intersections of a field with the soil physical parameters geometries
        (BOFEK 2012)
      operationId: get_fields_fieldid_soilparams
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /fields/{fieldid}/soiltypes:
    get:
      summary: 'Retrieve the spatial intersections of the field with the geometries of the soilmap 1 :
        50.000.'
      description: 'Retrieve the spatial intersections of the field with the geometries of the soilmap
        1 : 50.000.'
      operationId: get_fields_fieldid_soiltypes
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: fieldid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter fieldid.
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /meteodata:
    get:
      summary: Retrieve weather data from one of the meteostations for a specified time period.
      description: Retrieve weather data from one of the meteostations for a specified time period.
      operationId: get_meteodata
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: meteostation
        in: query
        required: false
        schema:
          type: string
      - name: fromdate
        in: query
        required: false
        schema:
          type: string
        example: '20151130'
      - name: todate
        in: query
        required: false
        schema:
          type: string
        example: '20151101'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /meteodata/{stationid}/{date}:
    get:
      summary: Retrieve weather data from one of the meteostations and for a specific date.  The date
        can be entered as yyyymmdd, yyyym
      description: Retrieve weather data from one of the meteostations and for a specific date.  The date
        can be entered as yyyymmdd, yyyymm, or yyyy.
      operationId: get_meteodata_stationid_date
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Retrieve
      parameters:
      - name: stationid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter stationid.
      - name: date
        in: path
        required: true
        schema:
          type: string
        description: Path parameter date.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /meteostations:
    get:
      summary: Return a list of all meteostations for which data is available.
      description: Return a list of all meteostations for which data is available.
      operationId: get_meteostations
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Return
      parameters:
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /meteostations/{meteostation}:
    get:
      summary: Return the data for the given meteostation.
      description: Return the data for the given meteostation.
      operationId: get_meteostations_meteostation
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Return
      parameters:
      - name: meteostation
        in: path
        required: true
        schema:
          type: string
        description: Path parameter meteostation.
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /ndvi_image:
    get:
      summary: Raster data geotiff for NDVI (ndvi_image)
      description: Raster data geotiff for NDVI (ndvi_image)
      operationId: get_ndvi_image
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Raster
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
        example: '20191117'
      - name: geometry
        in: query
        required: false
        schema:
          type: string
        example: POLYGON((219478 481588.256000001,219478 497638.432,237339.072000001 497638.432,237339.072000001
          481588.256000001,219478 481588.256000001))
      - name: epsg
        in: query
        required: false
        schema:
          type: integer
        example: '28992'
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
  /regions/municipalities:
    get:
      summary: Return all region boundaries based on regiontype.
      description: Return all region boundaries based on regiontype.
      operationId: get_regions_municipalities
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Return
      parameters:
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
  /soilparams/{soilparamid}:
    get:
      summary: Return all the information for the given soilparamid.
      description: Return all the information for the given soilparamid.
      operationId: get_soilparams_soilparamid
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Return
      parameters:
      - name: soilparamid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter soilparamid.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /soiltypes:
    get:
      summary: Return the intersections of the supplied geometry and soilmap.
      description: Return the intersections of the supplied geometry and soilmap.
      operationId: get_soiltypes
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Return
      parameters:
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: geometry
        in: query
        required: false
        schema:
          type: string
        example: POLYGON((219478 481588.256000001,219478 497638.432,237339.072000001 497638.432,237339.072000001
          481588.256000001,219478 481588.256000001))
      - name: epsg
        in: query
        required: false
        schema:
          type: integer
        example: '28992'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
  /soiltypes/{entityid}:
    get:
      summary: Return all the information for the given soilmap entityid.
      description: Return all the information for the given soilmap entityid.
      operationId: get_soiltypes_entityid
      responses:
        '200':
          description: Successful response. AgroDataCube returns a GeoJSON FeatureCollection (vector resources)
            or a binary GeoTIFF image (raster *_image resources).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
        '401':
          description: Missing or invalid access token.
        '404':
          description: Resource not found.
      security:
      - tokenHeader: []
      tags:
      - Return
      parameters:
      - name: entityid
        in: path
        required: true
        schema:
          type: string
        description: Path parameter entityid.
      - name: output_epsg
        in: query
        required: false
        schema:
          type: integer
        example: '4326'
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
        example: '25'
      - name: page_offset
        in: query
        required: false
        schema:
          type: integer
        example: '0'
components:
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: Access token obtained via https://agrodatacube.wur.nl/api/register.jsp
  schemas:
    FeatureCollection:
      type: object
      description: GeoJSON FeatureCollection returned by vector resources.
      required:
      - type
      - features
      properties:
        type:
          type: string
          enum:
          - FeatureCollection
        features:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
    Feature:
      type: object
      description: GeoJSON Feature with a geometry and a free-form properties map whose keys depend on
        the queried resource.
      required:
      - type
      - geometry
      - properties
      properties:
        type:
          type: string
          enum:
          - Feature
        geometry:
          $ref: '#/components/schemas/Geometry'
        properties:
          type: object
          additionalProperties: true
    Geometry:
      type: object
      description: GeoJSON geometry (Point, Polygon, MultiPolygon, etc.).
      required:
      - type
      - coordinates
      properties:
        type:
          type: string
          enum:
          - Point
          - LineString
          - Polygon
          - MultiPoint
          - MultiLineString
          - MultiPolygon
        coordinates:
          type: array
          items: {}
    Field:
      type: object
      description: Properties of a crop field feature.
      properties:
        fieldid:
          type: integer
          example: 4006258
        year:
          type: integer
          example: 2017
        crop_code:
          type: string
          example: '256'
        crop_name:
          type: string
          example: Bieten, suiker-
        area:
          type: number
          format: double
          example: 93344.82117765881
        perimeter:
          type: number
          format: double
          example: 1328.8669438915447
